<%- include('./layouts/header') %> 

<main>
    <div class="top-text-main">
        <p>Hi, I'm</p>
        <p class="gradient-text">beeb</p>
        <p>the web dev</p>
        <p class="gradient-text">.</p><div class="flashing-line"></div>
    </div>


    <div class="avatar-img-container">
        <div class="avatar-img">
        </div>
    </div>

    <p class="bottom-text-main">I code responsive and feature rich websites.</p>
    <div class="line-container">
        <div></div>
    </div>
    <div class="email-container">
        <a href="mailto: unnamedacc99@gmail.com">Enquiries: unnamedacc99@gmail.com</a>
    </div>
</main>

<%- include('./layouts/footer') %> 